html,
body{
  width:100%;
  overflow-x:hidden;
  background: #dadada;
  color: #3e3f3d;
}

.padded {
  padding: 25px 15px 10px 0px;
}

.contact {
  padding: 10px;
}

.strikediag {
  transform: rotate(50deg);
}

.centered {
  position: absolute;
  top: 80%;
	color: black;
  left: 26%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 2px red;
	font-size: 130px;
	transform: rotate(350deg);
}
